@model StudentTestingSystem.Areas.Admin.Models.Student.UpdateStudentProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName)
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Group")
                        @Html.DropDownListFor(model => model.GroupId, Model.Groups, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Save" class="btn btn-primary" />
                }
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fas fa-chevron-left"></i> @Html.ActionLink("Back to list of groups", "Index", new { groupId = Model.GroupId })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#groupMenuItem").addClass("active");
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}