@model StudentTestingSystem.Areas.Admin.Models.Group.AddGroupViewModel
@{
    ViewBag.Title = "Add a new group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Number)
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fas fa-chevron-left"></i> @Html.ActionLink("Back to list of groups", "Index")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#groupMenuItem").addClass("active");
</script>