@using StudentTestingSystem.Helpers
@model StudentTestingSystem.Areas.Admin.Models.Result.GroupResultsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Breadcrumb", Model.Breadcrumb)

@if (Model.Results.Count() == 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">@ViewBag.Title</h5>
                    <p class="card-category">@ViewBag.SecondTitle</p>
                </div>
                <div class="card-body ">
                    <div class="alert alert-warning" role="alert">This group doesn't have any results yet.</div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">@ViewBag.Title</h5>
                    <p class="card-category">@ViewBag.SecondTitle</p>
                </div>
                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th class="text-center">Subject</th>
                                <th class="text-center">Theme</th>
                                <th class="text-center">Actions</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.Subject, "Details", "Subject", new { id = item.SubjectId }, null)</td>
                                        <td>@Html.ActionLink(item.Theme, "Index", "Question", new { themeId = item.ThemeId }, null)</td>
                                        <td class="text-center">
                                            @Html.ActionLink("Results", "ThemeResults", "Result", new { Area = "Admin", groupId = Model.GroupId, themeId = item.ThemeId }, new { @class = "btn btn-success" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="paginationFooter" class="card-footer ">
                    <hr>
                    <div class="stats">
                        @Html.PageLinks(Model.PageInfo, x => Url.Action("GroupResults", new { groupId = Model.GroupId, page = x }))
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("#groupMenuItem").addClass("active");
</script>