@model StudentTestingSystem.Areas.SuperAdmin.Models.Profile.ResetPasswordViewModel
@{
    string backMessage = "Back to list of students";
    if (Model.Role == "Admin")
    {
        backMessage = "Back to list of teachers";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm("ResetPassword", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Role)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Save" class="btn btn-primary" />
                }
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fas fa-chevron-left"></i> @Html.ActionLink(backMessage, "Index", "Profile", new { roleName = Model.Role, profileId = Model.Id }, null)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if ('@Model.Role' === "User") {
        $("#studentMenuItem").addClass("active");
    }
    if ('@Model.Role' === "Admin") {
        $("#teacherMenuItem").addClass("active");
    }
</script>